button a {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    padding: 8px 20px;
    background: rgb(72, 71, 71);
    transition: 0.5s;
}

button a:hover {
    letter-spacing: 0.25em;
    background: var(--clr);
    color: var(--clr);
    box-shadow: 0 0 35px var(--clr);
}

button a::before {
    content: '';
    position: absolute;
    inset: 2px;
    background: #27282c;
}

button a span {
    position: relative;
    z-index: 1;
}

button a i {
    position: absolute;
    inset: 0;
    display: block;
}

button a:hover i::before {
    width: 20px;
    left: 20%;
}

button a i::before {
    content: '';
    position: absolute;
    border: 2px solid var(--clr);
    height: 5px;
    width: 10px;
    top: -3.5px;
    left: 80%;
    background: #27282c;
    transition: 0.5s;
    transform: translateX(-50%);
}

button a:hover i::before {
    width: 20px;
    left: 20%;
}

button a i::after {
    content: '';
    position: absolute;
    border: 2px solid var(--clr);
    transform: translateX(-50%);
    height: 5px;
    width: 10px;
    bottom: -3.5px;
    left: 20%;
    background: #27282c;
    transition: 0.5s;
}

button a:hover i::after {
    width: 20px;
    left: 80%;
}


@media screen and (min-width: 767px) {
    button a {
        margin-top: 10px !important;
    }

    button a {
        position: relative;
        text-decoration: none;
        color: white;
        font-size: 1.2em;
        letter-spacing: 0.1em;
        padding: 8px 10px;
        background: rgb(72, 71, 71);
        transition: 0.5s;
    }
    
}

@media screen and (max-width: 768px){
    button a {
        position: relative;
        text-decoration: none;
        color: white;
        font-size: 1.2em;
        letter-spacing: 0.1em;
        padding: 8px 10px;
        background: rgb(72, 71, 71);
        transition: 0.5s;
    }
}