.arrow {
  width: 5vw;
  height: 5vw;
  border: 15px solid;
  border-color: rgb(244 63 94) transparent transparent rgb(244 63 94);
  transform: rotate(-45deg);
  position: relative;
}

.arrow::before {
  content: "";
  position: absolute;
  top: 150px;
  left: -65px;
  transform: rotate(-315deg);
  width: 450px;
  border: 8px solid rgb(244 63 94);
  background-color: rgb(244 63 94);
}
