.cardContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0px;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -25%;
  height: 500px;
  width: 1000px;
  border-radius: 25px;
  padding: 50px;
  transform-origin: top;
}

.card .body {
  display: flex;
  height: 100%;
  margin-top: 50px;
  gap: 50px;
}

.card .body .description {
  width: 40%;
}

.card .body .imageContainer {
  position: relative;
  width: 60%;
  height: 100%;
  border-radius: 25px;
  overflow: hidden;
}

.screen {
  display: block;
  width: 520px;
  height: 300px;
  overflow: hidden;
  position: relative;
  border: 2px solid #b3b3b3;
  border-radius: 25px;
  margin: 0 auto;
}
.screen img {
  object-fit: cover;
  width: 100%;
  transform: translateY(0);
  transition: transform 4s ease-in-out;
}

.screen:hover img {
  object-fit: cover;
  transform: translateY(calc(-100% + 350px));
  transition: 2s ease-out;
}


@media only screen and (max-width: 500px) {
  .card {
    width: 100%;
    height: fit-content;
  }
  .card .body {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .card .body .description {
    width: 100%;
  }
  .card .body .imageContainer {
    width: 100%;
  }
  
}
