@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #000;
}

.paddingX {
   @apply sm:px-28 px-6
}
.paddingY{
   @apply sm:py-10 py-6
}
.padding{
   @apply sm:px-16 px-6 sm:py-16 py-10
}


.font-Marcellus {
    font-family: 'Marcellus', serif;
}

.font-Inconsolata {
    font-family: 'Inconsolata', monospace;
}

.font-Zeyada{
    font-family: 'Zeyada', cursive;
}

.font-Montserrat {
    font-family: 'Montserrat', sans-serif;
}

.font-Poppins {
    font-family: 'Poppins', sans-serif;
}