@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #000;
}

.paddingX {
   @apply lg:px-28 px-0
}
.paddingY{
   @apply lg:py-10 py-0
}
.padding{
   @apply lg:px-16 px-6 lg:py-16 py-10
}


.font-Marcellus {
    font-family: 'Marcellus', serif;
}

.font-Inconsolata {
    font-family: 'Inconsolata', monospace;
}

.font-Zeyada{
    font-family: 'Zeyada', cursive;
}

.font-Montserrat {
    font-family: 'Montserrat', sans-serif;
}

.font-Poppins {
    font-family: 'Poppins', sans-serif;
}

@layer utilities {
    .to-rgb-blue {
      --tw-gradient-to: rgba(0, 0, 0, 0.3);
    }
  }
  